@layer components {
  hr:not(.pos-clean) {
    @apply my-4 border-t-divider;
  }

  input:checked[type=checkbox]:not(.pos-clean) ~ .checkmark {
    @apply bg-interactive-graphic
  }

  input:checked[type=checkbox]:not(.pos-clean) ~ .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 4px;
    top: 0px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
