@layer components {
  hr:not(.pos-clean) {
    @apply my-4 border-t-divider;
  }

  input:checked[type=checkbox]:not(.pos-clean) {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.17232 6.89991L10.9661 0L12 1.05004L4.17232 9L0 4.76251L1.03389 3.71247L4.17232 6.89991Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
