.pos-select-custom,
.pos-select--multi-custom,
.pos-select-custom__options {
  min-width: 168px;
}

.pos-select-custom,
.pos-select--multi-custom {
  display: none;
}

@media (hover: hover) {
  .pos-select-custom {
    display: inline-block;
  }

  .pos-select--multi-custom {
    display: flex;
  }

  .pos-select-custom + .pos-select--simple-native,
  .pos-select-custom__options + .pos-select--multi-native {
    display: none;
  }
}
