---
metadata:
  name: Content card
  params:
    variant:
      - default
      - highlighted
    title: ''
    text: ''
    author: ''
    content: This is an example card
    imgSrc: ''
  styleguide:
    - variant: default
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      imgSrc: 'https://picsum.photos/300/180?random=1'
    - variant: highlighted
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      imgSrc: 'https://picsum.photos/300/180?random=2'
    - variant: default
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      imgSrc: 'https://picsum.photos/300/180?random=3'

---
{% liquid
  assign variant = params.variant | default: 'default'
  assign title = params.title
  assign text = params.text
  assign author = params.author
  assign imgSrc = params.imgSrc

  assign button_params = null | hash_merge: weight: 'primary', content: 'Read more'

%}

<div class="border rounded overflow-hidden bg-panel w-80">
  <div><img src="{{imgSrc}}" class="w-full"></div>
  <div class="p-6">
    <h2 class="text-xl font-bold pb-2">{{title}}</h2>
    <div>{{text}}</div>
    <div class="flex">
      <div>
        Sept 22 2021
        <a href="#">Jane Doe</a>
      </div>
    </div>
  </div>
</div>
