---
layout: modules/components/styleguide
---

<div class="flex items-center justify-center flex-wrap gap-4">

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

</div>


<div class="mt-4 flex items-center justify-center flex-wrap gap-4">

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
    assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

</div>


<div class="mt-4 flex items-center justify-center flex-wrap gap-4">

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'important', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'confirmation', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'inverted', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'important', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'confirmation', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'inverted', content: 'Click me', disabled: true
    theme_render_rc 'components/atoms/button', params: button_params
  %}

</div>


<div class="mt-4 flex items-center justify-center flex-wrap gap-4">

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'important', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'confirmation', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'inverted', content: 'Click me'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

</div>


<div class="mt-4 p-6 items-center justify-center flex-wrap gap-4 bg-colorful rounded-md">

  <div class="flex items-center justify-center flex-wrap gap-4">

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

  </div>


  <div class="mt-4 flex items-center justify-center flex-wrap gap-4">

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'primary', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_attributes = '{}' | parse_json | hash_merge: href: 'https://platformos.com', target: '_blank'
      assign button_params = '{}' | parse_json | hash_merge: tag: 'a', attributes: button_attributes, weight: 'secondary', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

  </div>


  <div class="mt-4 flex items-center justify-center flex-wrap gap-4">

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'important', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'confirmation', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', variant: 'inverted', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'important', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'confirmation', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', variant: 'inverted', content: 'Click me', disabled: true
      theme_render_rc 'components/atoms/button', params: button_params
    %}

  </div>


  <div class="mt-4 flex items-center justify-center flex-wrap gap-4">

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', size: 'small', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'important', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'confirmation', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

    {% liquid
      assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', size: 'small', variant: 'inverted', content: 'Click me'
      theme_render_rc 'components/atoms/button', params: button_params
    %}

  </div>

</div>
