---
metadata:
  name: Alert
  params:
    tag: "div"
    severity:
      - info
      - error
      - success
      - warning
    variant:
      - normal
      - small
      - secondary
    icon:
      - true
      - false
    content: Fill your profile
---
{% capture icons %}
{
  "success": { "name": "checkBadge", "color": "text-confirmation" },
  "error": { "name": "warningCloud", "color": "text-important" },
  "info": { "name": "info", "color": "text-graphic" },
  "warning": { "name": "warning", "color": "text-warning" }
}
{% endcapture %}
{% assign icons = icons | parse_json %}
{% liquid
  assign tag = params.tag | default: 'div'
  assign icon = params.icon | default: true
  assign severity = params.severity | default: 'info'
  assign variant = params.variant | default: 'normal'
  assign content = params.content

  assign classes = 'px-2 py-1 leading-5 rounded-md shadow-card flex items-center align-center w-96 h-10 '

  if variant == 'normal'
    if severity == 'error'
      assign classes = classes | append: ' border border-important bg-important-disabled'
    elsif severity == 'success'
      assign classes = classes | append: ' border border-confirmation bg-confirmation-disabled'
    elsif severity == 'warning'
      assign classes = classes | append: ' border border-warning bg-warning-disabled'
    else
      assign classes = classes | append: ' bg-highlighted'
    endif
    assign icon_classes = 'w-6 h-6 mr-2 ' | append: icons[severity].color
  elsif variant == 'secondary'
    assign classes = classes | append: ' border bg-inverted'
    assign icon_classes = 'w-6 h-6 mr-2 ' | append: icons[severity].color
  else
    assign classes = classes | append: ' text-xs text-supplementary'
    assign icon_classes = 'w-4 h-4 mr-2 ' | append: icons[severity].color
  endif


  assign icon_params = '{}' | parse_json | hash_merge: name: icons[severity].name, class: icon_classes
%}
<div class="inline-block">
<{{tag}} class="{{classes}}">
    {% if icon == true %}
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    {% endif %}
    {{content}}
</{{tag}}>
</div>
