---
metadata:
  name: Breadcrumbs
  params:
    id: myBreadcrumbs
    name: myBreadcrumbs
    separator: >
    breadcrumbs:
      - text: Golden Platform
        link: /value1
      - text: Styleguide
        link: /value2
      - text: Molecules
        link: /value3
      - text: Breadcrumbs
        link: /value4
  styleguide:
      breadcrumbs:
      - text: Golden Platform
        link: /value1
      - text: Styleguide
        link: /value2
      - text: Molecules
        link: /value3
      - text: Breadcrumbs
        link: /value4
      breadcrumbs:
      - text: Golden Platform
        link: /value1
      - text: Styleguide
        link: /value2
      - text: Molecules
        link: /value3
      - text: Breadcrumbs
        link: /value4
---
{% liquid
  assign breadcrumbs = params.breadcrumbs | parse_json | default: '[]' | parse_json
  assign id = params.id | default: "myBreadcrumbs"
  assign name = params.name | default: "myBreadcrumbs"
  assign separator = params.separator | default: ">"
%}

<ul class="pos-breadcrumbs flex">
{% for breadcrumb in breadcrumbs %}
  <li class="flex">
    <a href="{{breadcrumb.link}}">{{breadcrumb.text}}</a>
    {% assign icon_params = '{}' | parse_json | hash_merge: name: 'dashRight', class: 'w-3 h-4 mx-2 ' %}
    <div class="flex content-center">
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    </div>
  </li>
{% endfor %}
</ul>
