---
metadata:
  name: flashes-area
  description: tempate for displaying flash messages
---
<div
  data-pos-component="flashes-area"
  class="fixed bottom-2 left-0 z-50"
>
  <template data-flash-template>
    <div class="px-4 overflow-hidden text-content-inverted" data-flash>
      <div class="min-w-80 md:max-w-md mb-2 mt-2 relative transition transform">

        <div class="flex items-center" data-flash-error>
          {% theme_render_rc 'modules/components/atoms/icon', name: 'warningCloud', class: 'w-6 text-danger flex-shrink-0' %}
          <div class="mx-3 font-semibold" data-flash-content></div>
        </div>

        <div class="flex items-center" data-flash-success>
          {% theme_render_rc 'modules/components/atoms/icon', name: 'checkBadge', class: 'w-6 text-confirmation flex-shrink-0' %}
          <div class="mx-3 font-semibold" data-flash-content></div>
        </div>

        <div class="flex items-center" data-flash-info>
          {% theme_render_rc 'modules/components/atoms/icon', name: 'warningCloud', class: 'w-6 text-contant-sidenote flex-shrink-0' %}
          <div class="mx-3 font-semibold" data-flash-content></div>
        </div>

        <button
          title="{{ 'app.close' | t }}"
          class="p-4 absolute end-0 top-0 hover:text-interaction-hover"
          data-flash-close
        >
          {% theme_render_rc 'modules/components/atoms/icon', name: 'x', class: 'w-2' %}
        </button>

      </div>
    </div>
  </template>
</div>
