---
metadata:
  name: Icon with badge
  params:
    maxValue: 1000
    value: 1000
    icon: "bell"
  styleguide:
    - maxValue: 20
      value: 8
    - maxValue: 999
      value: 1500
      icon: "mail"
    - maxValue: 1999
      value: 1500
      icon: "globe"
---
{% liquid
  assign maxValue = params.maxValue | default: 0
  assign value = params.value
  assign icon = params.icon | default: 'bell'

  assign icon_params = null | hash_merge: name: icon, class: 'w-6 h-6 ml-2 '
  assign badge_params = null | hash_merge: value: value, maxValue: maxValue
%}

<div class="relative inline-block">
  {% theme_render_rc 'components/atoms/icon', params: icon_params %}
  <div class="absolute -top-2 left-6">
    {% theme_render_rc 'components/atoms/badge', params: badge_params %}
  </div>
</div>
