---
metadata:
  name: Icon button
  params:
    classes: ''
    alignment: left
    button_params:
      weight: primary
      content: Search
    icon_params:
      name: star
      class: w-4 h-4 text-input-border mr-2
  styleguide:
    params:
      classes: 'w-1/2'
      alignment:
        - left
        - right
      button_params:
        weight: primary
        content: Search
      icon_params:
        name: star
        class: w-4 h-4 text-white mr-2
---
{% liquid
  assign icon_params = params.icon_params
%}

{% capture card_content %}
  {{params.button_params.content}}
  {% theme_render_rc 'components/atoms/icon', params: icon_params %}
{% endcapture %}

{% liquid
  assign button_params = params.button_params | hash_merge: classes: 'ml-7', content: card_content
  assign button_params.content = card_content

  assign classes = '' | append: params.classes

%}
<div class="inline-flex {{classes}}">
  {% theme_render_rc 'components/atoms/button', params: button_params %}
</div>
