---
metadata:
  name: Input with button
  params:
    classes: ''
    input_params: {}
    button_params: {}
---
{% liquid
  assign tag = params.tag | default: 'div'
  assign variant = params.variant | default: 'default'
  assign content = params.content
  assign input_params = params.input_params | hash_merge: classes: 'pr-8'
  assign button_params = params.button_params | hash_merge: classes: 'border-2'

  assign classes = 'inline-flex w-full ' | append: params.classes

%}
<div class="m-input-with-button {{classes}}">
  <div class="flex-1">
    {% theme_render_rc 'components/atoms/input', params: input_params %}
  </div>
  <div class="-ml-8">
  {% theme_render_rc 'components/atoms/button', params: params.button_params %}
  </div>
</div>
