---
metadata:
  name: Input with button
  params:
    classes: ''
    input_params:
      name: input
      placeholder: Type here
    button_params:
      weight: primary
      content: Search
  styleguide:
    params:
      classes: 'w-1/2'
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        content: Search
---
{% liquid
  assign input_params = params.input_params | hash_merge: classes: 'w-full pr-8'
  assign button_params = params.button_params | hash_merge: classes: '-ml-7'

  assign classes = '' | append: params.classes

%}
<div class="inline-flex {{classes}}">
  {% theme_render_rc 'components/atoms/input', params: input_params %}
  {% theme_render_rc 'components/atoms/button', params: button_params %}
</div>
