---
metadata:
  name: Popup
  params:
    tag: "div"
    id: 'myPopup'
    title: ''
---
{% liquid
  assign id = params.id
  assign title = params.title | default: 'Popup title'
  assign icon_params = '{}' | parse_json | hash_merge: name: 'x', class: 'w-4 h-4'

%}
{% capture popup_content %}
<div class="hidden bg-inverted w-96 p-6" data-popup-id="{{id}}">
  <div class="flex justify-between">
    {% assign headline_params = '{}' | parse_json | hash_merge: tag: 'h2', variant: 'h2', content: title %}
    {% theme_render_rc 'components/atoms/heading', params: headline_params %}
    <div class="pt-4 pr-4 cursor-pointer" data-popup-open-id="{{id}}">
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    </div>
  </div>
  <hr>
  <div>
    <p class="pb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum faucibus elit quis sodales. Etiam malesuada.
    </p>
  </div>
  <div>
    {% assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Remove Admin Permissions', type: "submit" %}
    {% theme_render_rc 'components/atoms/button', params: button_params %}
    {% assign button_params = '{}' | parse_json | hash_merge: weight: 'secondary', content: 'Cancel' %}
    {% theme_render_rc 'components/atoms/button', params: button_params %}
  </div>
</div>
{% endcapture %}

{% assign backdrop_params = '{}' | parse_json | hash_merge: content: popup_content, hidden: true, backdrop_id: id %}
{% theme_render_rc 'components/atoms/backdrop',
    params: backdrop_params
%}
