---
metadata:
  name: Rating
  params:
    max_value: 5
    value:
      - 1
      - 2
      - 3
      - 4
      - 5

---
{% liquid
  assign icon_params = '{}' | parse_json | hash_merge: name: 'star', class: 'pos-rating-empty w-4 h-4 text-input-border mr-2'
  assign icon_params_filled = '{}' | parse_json | hash_merge: name: 'starFull', class: 'pos-rating-full w-4 h-4 text-warning stroke-input-border mr-2'

  assign classes = 'inline-flex '

%}
<div class="{{classes}}">
  {% for i in (1..params.max_value) %}
    <label for="stars-{{i}}">
      {% theme_render_rc 'components/atoms/icon', params: icon_params_filled %}
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    </label>
    <input
      type="radio"
      name="stars"
      class=""
      id="stars-{{i}}"
      {% if i == params.value %}checked{% endif %}
      value="{{i}}"
    />
  {% endfor %}
</div>
