---
metadata:
  name: Status label
  params:
    severity:
      - info
      - error
      - success
      - warning
    icon:
      - true
      - false
    alignment:
      - left
      - right
    content: Fill your profile
  styleguide:
    - severity: info
      content: Draft
      icon: true
      alignment: left
    - severity: error
      content: Closed
      icon: true
      alignment: right
    - severity: success
      content: Open until 20 July 2021
      icon: true
    - severity: warning
      content: Under Evaluation
      icon: true
    - severity: info
      content: Draft
      icon: false
    - severity: error
      content: Closed
      icon: false
      alignment: left
    - severity: success
      content: Open until 20 July 2021
      icon: false
    - severity: warning
      content: Under Evaluation
      icon: false
---
{% parse_json icons %}
{
  "success": { "name": "checkBadge", "color": "text-confirmation", "bgcolor": "bg-confirmation" },
  "error": { "name": "warningCloud", "color": "text-important", "bgcolor": "bg-important" },
  "info": { "name": "info", "color": "text-graphic", "bgcolor": "bg-graphic" },
  "warning": { "name": "warning", "color": "text-warning", "bgcolor": "bg-warning" }
}
{% endparse_json %}
{% liquid
  assign icon = params.icon | default: false
  assign alignment = params.alignment | default: 'right'
  assign severity = params.severity | default: 'info'
  assign content = params.content

  assign classes = 'px-2 py-1 leading-5 rounded-md shadow-card flex items-center align-center h-10 '
  assign classes = classes | append: ' border bg-inverted'

  if alignment == "left"
    assign classes = classes | append:  " flex-row-reverse"
  endif

  assign icon_classes = 'w-6 h-6 mx-2 ' | append: icons[severity].color
  assign icon_params = '{}' | parse_json | hash_merge: name: icons[severity].name, class: icon_classes
%}
<div class="inline-block">
<div class="{{classes}}">
    {% if icon == true %}
      <div>
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </div>
    {% else %}
      <div class="rounded-full block w-3 h-3 mx-2 {{icons[severity].bgcolor}}"></div>
    {% endif %}
    <div>{{content | html_safe}}</div>
</div>
</div>
