---
metadata:
  name: Avatar
  params:
    imageSrc: ""
    name: "John Doe"
    size: "md"
  styleguide:
    - imageSrc: ""
      name: "John Doe"
      size: "lg"
    - imageSrc: ""
      name: "Harrison Ford"
      size: "md"
    - imageSrc: ""
      name: "Mark Hamill"
      size: "sm"
    - imageSrc: "asd"
      name: "John Doe"
      size: "lg"
---
{% liquid
  assign size = params.size | default: 'md'
  assign nane = params.name
  assign imageSrc = params.imageSrc


  assign classes = 'rounded-full bg-button-primary flex items-center justify-center text-inverted '
  if size == 'md'
    assign classes = classes | append: "w-10 h-10 "
  endif
  if size == 'lg'
    assign classes = classes | append: "w-14 h-14 "
  endif
  if size == 'sm'
    assign classes = classes | append: "w-6 h-6 text-sm "
  endif

%}

{% if imageSrc == blank %}
<div class="{{classes}}">
    X Y
</div>
{% else %}
<img src="{{ 'modules/components/avatar1.jpg' | asset_url }}" class="{{classes}}">
{% endif %}
