---
metadata:
  name: Avatar
  params:
    imageSrc: ""
    name: "John Doe"
    size: "md"
  styleguide:
    - imageSrc: ""
      name: "John Doe"
      size: "lg"
    - imageSrc: ""
      name: "Harrison Ford"
      size: "md"
    - imageSrc: ""
      name: "Mark Hamill"
      size: "sm"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "lg"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "md"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "sm"
---
{% parse_json sizes %}
{
  "lg": "w-48 h-48",
  "md": "w-24 h-24",
  "sm": "w-5 h-5 text-sm"
}
{% endparse_json %}
{% liquid
  assign size = params.size | default: 'md'
  assign nane = params.name
  assign imageSrc = params.imageSrc

  assign stringClasses = 'rounded-full bg-button-primary flex items-center justify-center text-inverted '
  assign imageClasses = 'rounded-full overflow-hidden '

  assign stringClasses = stringClasses | append: sizes[size]
  assign imageClasses = imageClasses | append: sizes[size]
%}


{% if imageSrc == blank %}
<div class="{{stringClasses}}">
    X Y
</div>
{% else %}
<div class="{{imageClasses}}">
  <img src="{{imageSrc | asset_url}}" class="object-cover h-full">
</div>
{% endif %}
