---
metadata:
  name: Tabs
  params:
    id: myTabs
    name: myTabs
    multiOpen:
      - true
      - false
    options:
      - title: Option 1
        content: value1
      - title: Option 2
        content: value2
  styleguide:
    - multiOpen: false
      options:
      - title: London
        content: London is the capital of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.
      - title: Paris
        content: Paris is the capital of France. The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.
      - title: Tokyo
        content: Tokyo is the capital of Japan. It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.
    - multiOpen: true
      options:
      - title: London
        content: London is the capital of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.
      - title: Paris
        content: Paris is the capital of France. The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.
      - title: Tokyo
        content: Tokyo is the capital of Japan. It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.
---
{% liquid
  assign id = params.id | default: "myAccordion"
  assign multiOpen = params.multiOpen | default: false
  assign options = params.options | parse_json | default: '[]' | parse_json
%}

<div data-pos-component="Tabs">
  <div role="tablist" class="pos-tabs__tablist">
    {% for option in options %}
    <button class="pos-tabs__tab">{{option.title}}</button>
    {% endfor %}
  </div>

  <div role="tabpanel">
    {% for option in options %}
    <div class="pos-tabs__panel">{{option.content}}</div>
    {% endfor %}
  </div>
</div>
