---
metadata:
  name: Tabs
  params:
    id: myTabs
    name: myTabs
    background:
      - false
      - true
    options:
      - title: Option 1
        content: value1
      - title: Option 2
        content: value2
  styleguide:
    - background: false
      options:
      - title: London
        content: London is the capital of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.
      - title: Paris
        content: Paris is the capital of France. The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.
      - title: Tokyo
        content: Tokyo is the capital of Japan. It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.
    - background: true
      options:
      - title: London
        content: London is the capital of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.
      - title: Paris
        content: Paris is the capital of France. The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.
      - title: Tokyo
        content: Tokyo is the capital of Japan. It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.
---
{% liquid
  assign id = params.id | default: "myAccordion"
  assign background = params.background | default: false
  assign options = params.options | parse_json | default: '[]' | parse_json

  assign classes = 'pos-tabs '
  if background == true
    assign classes = classes | append: 'pos-tabs pos-tabs--background'
  endif
%}

<div data-pos-component="Tabs" class="{{classes}}">
  <div role="tablist" class="pos-tabs__tablist">
    {% for option in options %}
    <button class="pos-tabs__tab">{{option.title}}</button>
    {% endfor %}
  </div>

  <div role="tabpanel">
    {% for option in options %}
    <div class="pos-tabs__panel">{{option.content}}</div>
    {% endfor %}
  </div>
</div>
