---
metadata:
  name: Toggle
  params:
    name: 'myToggle'
    value: ''
    label: ''
    checked:
      - false
      - true
    id: 'myToggle'
    disabled:
      - false
      - true
  styleguide:
    - name: 'myToggleChecked'
      value: 'toggle1'
      checked: true
    - name: 'myToggleUnchecked'
      value: 'toggle2'
      checked: false
    - name: 'myToggleWithLabel'
      value: 'toggle3'
      checked: true
      label: 'Toggle'
---
{% liquid
  assign checked = params.checked | default: false
  assign id = params.id
  assign name = params.name
  assign label = params.label
  assign value = params.value

%}
<label>
  <div class="flex">
    {% if label != blank %}
    <div class="mr-2">{{label}}</div>
    {% endif %}
    <div class="relative inline-block w-12 h-6">
      <input
      type="checkbox"
      class="w-0 h-0 opacity-0"
      id="{{id}}"
      name="{{name}}"
      {% if value %}value="{{value}}"{% endif %}
      {% if checked %}checked{% endif %}
      />
      <span class="pos-toggle__slider absolute cursor-pointer inset-0 bg-graphic rounded-full duration-500"></span>
    </div>
  </div>
</label>

