---
metadata:
  name: Toggle
  params:
    name: 'myToggle'
    value: ''
    checked:
      - false
      - true
    id: 'myToggle'
    disabled:
      - false
      - true
---
{% liquid
  assign checked = params.checked | default: false
  assign id = params.id
  assign name = params.name
  assign value = params.value

%}
<label class="pos-toggle relative inline-block">
  <input type="checkbox" class="w-0 h-0 opacity-0">
  <span class="pos-toggle__slider absolute cursor-pointer inset-0"></span>
</label>

