---
layout: modules/components/styleguide
slug: styleguide/:component_id
---
{% function components_query_result = 'modules/components/lib/queries/components/get_all' %}
{% function component_search_result = 'modules/components/lib/queries/components/get', id: context.params.component_id %}
{% assign component = component_search_result.results.results[0] %}

<div class="flex antialiased text-gray-900 bg-gray-100">
  {% render 'modules/components/components/sidebar', component_groups: components_query_result %}
  {% include 'modules/components/components/view', component: component, example_position: 'right' %}
</div>
