<!DOCTYPE html>
<html lang="en">
  <head>
    {% liquid
      function theme_manager_exists = 'modules/core/lib/queries/module/exists', name: 'theme-manager', type: 'module'
      if theme_manager_exists
        include 'modules/theme-manager/theme_headscripts'
      endif
    %}
    <link rel="stylesheet" href="{{ 'modules/components/styleguide.css' | asset_url }}">
  </head>

  <body>
    <div class="wrapper">
      <main class="main">
        <h1 class="text-3xl p-6">Component Library</h1>
        {{content_for_layout}}
      </main>
    </div>
  <script src="{{ 'modules/components/styleguide.js' | asset_url }}"></script>
  </body>
</html>
