<!DOCTYPE html>
<html lang="en">
  <head>
    {% liquid
      try_rc
        include 'modules/theme-manager/theme_headscripts'
      endtry_rc
    %}
    <link rel="stylesheet" href="{{ 'modules/components/components.css' | asset_url }}">
    <style>
      body {
        background: #ddd;
      }
      .wrapper {
        max-width: 1200px;
        margin: 0 auto;
      }

      .main {
        background: #fafafa;
        min-height: 100vh;
      }

      hr {
        margin: 15px 0;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <main class="main">
        <h1 class="text-3xl p-6">Component Library</h1>
        {{content_for_layout}}
      </main>
    </div>
  </body>
</html>
