<div class="flex antialiased text-gray-900 bg-gray-100">
  {% render 'modules/components/components/sidebar', component_groups: component_groups %}
  {% include 'modules/components/components/view', component: component, example_position: 'right' %}
</div>
 